In [3]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
plt.style.use('classic')

In [4]:
df = pd.read_csv(r"C:\Users\adity\Python_revision\df_price.csv")

In [7]:
df

,host_since,host_location,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,street,neighbourhood,...,review_scores_communication,review_scores_location,review_scores_value,requires_license,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,18-08-2008,"Key Biscayne, Florida, United States",Mitte,4.0,4.0,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,t,"Berlin, Berlin, Germany",Mitte,...,10.0,10.0,9.0,t,f,strict_14_with_grace_period,f,f,4,3.76
1,16-09-2008,"Berlin, Berlin, Germany",Prenzlauer Berg,1.0,1.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,"Berlin, Berlin, Germany",NaN,...,10.0,10.0,10.0,t,f,flexible,f,f,1,1.42
2,19-10-2008,"Coledale, New South Wales, Australia",Prenzlauer Berg,1.0,1.0,"['email', 'phone', 'facebook', 'reviews', 'man...",t,t,"Berlin, Berlin, Germany",Prenzlauer Berg,...,9.0,10.0,9.0,t,t,strict_14_with_grace_period,f,f,1,1.25
3,7/11/2008,"Berlin, Berlin, Germany",Schöneberg,1.0,1.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,"Berlin, Berlin, Germany",Schöneberg,...,10.0,9.0,9.0,t,f,strict_14_with_grace_period,f,f,1,0.39
4,16-05-2009,"Berlin, Berlin, Germany",Prenzlauer Berg,1.0,1.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,"Berlin, Berlin, Germany",Prenzlauer Berg,...,10.0,10.0,9.0,t,f,moderate,f,f,1,1.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22547,2/8/2016,"Berlin, Berlin, Germany",Mitte,1.0,1.0,"['email', 'phone', 'facebook']",t,f,"Berlin, Berlin, Germany",Mitte,...,NaN,NaN,NaN,t,f,flexible,f,f,1,NaN
22548,17-04-2016,"Berlin, Berlin, Germany",Prenzlauer Berg,6.0,6.0,"['email', 'phone', 'facebook', 'jumio', 'gover...",t,f,"Berlin, Berlin, Germany",Schöneberg,...,NaN,NaN,NaN,t,t,flexible,f,f,6,NaN
22549,3/8/2012,"Berlin, Berlin, Germany",Prenzlauer Berg,3.0,3.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,"Berlin, Berlin, Germany",Prenzlauer Berg,...,NaN,NaN,NaN,t,f,flexible,f,f,2,NaN
22550,28-06-2015,"Berlin, Berlin, Germany",Mitte,3.0,3.0,"['email', 'phone', 'reviews']",t,f,"Berlin, Berlin, Germany",Mitte,...,NaN,NaN,NaN,t,f,flexible,f,f,3,NaN
22551,9/3/2018,"Berlin, Berlin, Germany",Neukölln,1.0,1.0,"['email', 'phone']",t,f,"Berlin, Berlin, Germany",Neukölln,...,NaN,NaN,NaN,t,f,flexible,f,f,1,NaN

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 58 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   host_since                        22526 non-null  object
 1   host_location                     22436 non-null  object
 2   host_neighbourhood                17458 non-null  object
 3   host_listings_count               22526 non-null  float64
 4   host_total_listings_count         22526 non-null  float64
 5   host_verifications                22526 non-null  object
 6   host_has_profile_pic              22526 non-null  object
 7   host_identity_verified            22526 non-null  object
 8   street                            22552 non-null  object
 9   neighbourhood                     21421 non-null  object
 10  neighbourhood_cleansed            22552 non-null  object
 11  neighbourhood_group_cleansed      22552 non-null  object
 12  city                              22547 non-null  object
 13  state                             22468 non-null  object
 14  zipcode                           21896 non-null  object
 15  market                            22489 non-null  object
 16  smart_location                    22552 non-null  object
 17  latitude                          22552 non-null  float64
 18  longitude                         22552 non-null  float64
 19  is_location_exact                 22552 non-null  object
 20  property_type                     22552 non-null  object
 21  room_type                         22552 non-null  object
 22  accommodates                      22552 non-null  int64
 23  bathrooms                         22520 non-null  float64
 24  bedrooms                          22534 non-null  float64
 25  beds                              22512 non-null  float64
 26  bed_type                          22552 non-null  object
 27  amenities                         22552 non-null  object
 28  price                             22552 non-null  float64
 29  security_deposit                  13191 non-null  float64
 30  cleaning_fee                      15406 non-null  float64
 31  guests_included                   22552 non-null  int64
 32  extra_people                      22552 non-null  float64
 33  minimum_nights                    22552 non-null  int64
 34  maximum_nights                    22552 non-null  int64
 35  calendar_updated                  22552 non-null  object
 36  availability_30                   22552 non-null  int64
 37  availability_60                   22552 non-null  int64
 38  availability_90                   22552 non-null  int64
 39  availability_365                  22552 non-null  int64
 40  calendar_last_scraped             22552 non-null  int64
 41  number_of_reviews                 22552 non-null  int64
 42  first_review                      18638 non-null  float64
 43  last_review                       18644 non-null  float64
 44  review_scores_rating              18163 non-null  float64
 45  review_scores_accuracy            18138 non-null  float64
 46  review_scores_cleanliness         18141 non-null  float64
 47  review_scores_checkin             18120 non-null  float64
 48  review_scores_communication       18134 non-null  float64
 49  review_scores_location            18121 non-null  float64
 50  review_scores_value               18117 non-null  float64
 51  requires_license                  22552 non-null  object
 52  instant_bookable                  22552 non-null  object
 53  cancellation_policy               22552 non-null  object
 54  require_guest_profile_picture     22552 non-null  object
 55  require_guest_phone_verification  22552 non-null  object
 56  calculated_host_listings_count    22552 non-null  int64
 57  reviews_per_month                 18638 non-null  float64
dtypes: float64(21), int64(11), object(26)
memory usage: 10.0+ MB

In [11]:
df[['price','extra_people','security_deposit','cleaning_fee']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             22552 non-null  float64
 1   extra_people      22552 non-null  float64
 2   security_deposit  13191 non-null  float64
 3   cleaning_fee      15406 non-null  float64
dtypes: float64(4)
memory usage: 704.9 KB

In [13]:
num = []
cat = []
for i in df.columns:
    if df[i].dtype == 'object':
        cat.append(i)
    else:
        num.append(i)

In [15]:
len(num)

32

In [17]:
len(cat)

26

# Null value Treatment

##### we go for meadian for numerical columns
##### we go for mode for categorical column  (we can do it with KNN imputer)

Central Tendency

In [21]:
# Fill NaN values with the median of each column of num

for i in num:
    df[i] = df[i].fillna(df[i].median())

In [23]:
df[num].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   host_listings_count             22552 non-null  float64
 1   host_total_listings_count       22552 non-null  float64
 2   latitude                        22552 non-null  float64
 3   longitude                       22552 non-null  float64
 4   accommodates                    22552 non-null  int64
 5   bathrooms                       22552 non-null  float64
 6   bedrooms                        22552 non-null  float64
 7   beds                            22552 non-null  float64
 8   price                           22552 non-null  float64
 9   security_deposit                22552 non-null  float64
 10  cleaning_fee                    22552 non-null  float64
 11  guests_included                 22552 non-null  int64
 12  extra_people                    22552 non-null  float64
 13  minimum_nights                  22552 non-null  int64
 14  maximum_nights                  22552 non-null  int64
 15  availability_30                 22552 non-null  int64
 16  availability_60                 22552 non-null  int64
 17  availability_90                 22552 non-null  int64
 18  availability_365                22552 non-null  int64
 19  calendar_last_scraped           22552 non-null  int64
 20  number_of_reviews               22552 non-null  int64
 21  first_review                    22552 non-null  float64
 22  last_review                     22552 non-null  float64
 23  review_scores_rating            22552 non-null  float64
 24  review_scores_accuracy          22552 non-null  float64
 25  review_scores_cleanliness       22552 non-null  float64
 26  review_scores_checkin           22552 non-null  float64
 27  review_scores_communication     22552 non-null  float64
 28  review_scores_location          22552 non-null  float64
 29  review_scores_value             22552 non-null  float64
 30  calculated_host_listings_count  22552 non-null  int64
 31  reviews_per_month               22552 non-null  float64
dtypes: float64(21), int64(11)
memory usage: 5.5 MB

In [25]:
df[cat].isnull().sum()

host_since                            26
host_location                        116
host_neighbourhood                  5094
host_verifications                    26
host_has_profile_pic                  26
host_identity_verified                26
street                                 0
neighbourhood                       1131
neighbourhood_cleansed                 0
neighbourhood_group_cleansed           0
city                                   5
state                                 84
zipcode                              656
market                                63
smart_location                         0
is_location_exact                      0
property_type                          0
room_type                              0
bed_type                               0
amenities                              0
calendar_updated                       0
requires_license                       0
instant_bookable                       0
cancellation_policy                    0
require_guest_profile_picture          0
require_guest_phone_verification       0
dtype: int64

In [27]:
# Fill NaN values with the mode of each column of num

for i in cat:
    df[i] = df[i].fillna(df[i].mode()[0])   #[0] bcz there may happen many mode value

In [29]:
df[cat].isnull().sum()

host_since                          0
host_location                       0
host_neighbourhood                  0
host_verifications                  0
host_has_profile_pic                0
host_identity_verified              0
street                              0
neighbourhood                       0
neighbourhood_cleansed              0
neighbourhood_group_cleansed        0
city                                0
state                               0
zipcode                             0
market                              0
smart_location                      0
is_location_exact                   0
property_type                       0
room_type                           0
bed_type                            0
amenities                           0
calendar_updated                    0
requires_license                    0
instant_bookable                    0
cancellation_policy                 0
require_guest_profile_picture       0
require_guest_phone_verification    0
dtype: int64

# EDA

Univariate   : num and cat handled separately  --> Distribution , Segments , Skeewness
               plots: histplot , distplot , countplot(Categorical)

Bivariate    : relation btn two variables  --> 
               plots: heatmap , scatterplot , correlation-heatmap , pi-plot 

Multivariate : Three or more variable

### Univariate