In [ ]:
!pip install mysql-connector-python

In [23]:
import mysql.connector as conn

In [24]:
mydb=conn.connect(host='localhost' , user='root',passwd="1234")

In [25]:
mydb

In [26]:
cursor=mydb.cursor()   #cursor is like pointer

In [27]:
cursor.execute("show databases")

In [28]:
list_of_databases=cursor.fetchall()

In [29]:
type(cursor.fetchall())

list

In [30]:
type(list_of_databases)

list

In [31]:
list_of_databases[0]

('cardekho',)

In [32]:
list_of_databases

[('cardekho',),
 ('hellopw',),
 ('information_schema',),
 ('mysql',),
 ('newpwioi',),
 ('performance_schema',),
 ('pw',),
 ('sakila',),
 ('sys',),
 ('testdb',),
 ('world',)]

In [33]:
list_of_databases[4]

('newpwioi',)

In [34]:
cursor=mydb.cursor()

In [ ]:
cursor.execute("create database newpwioi")

In [37]:
cursor.execute("use newpwioi")

In [38]:
cursor.execute("create table tablepython(id int, name varchar(20))")

ProgrammingError: 1050 (42S01): Table 'tablepython' already exists

In [39]:
cursor.execute("Show tables")

In [40]:
cursor.fetchall()

[('tablepython',)]

In [41]:
cursor.execute('select * from tablepython')

In [42]:
cursor.fetchall()

[]

In [43]:
cursor.execute('insert into newpwioi.tablepython values(1,"Aditya")')

In [44]:
cursor.execute('select * from tablepython')
cursor.fetchall()

[(1, 'Aditya')]

In [45]:
cursor.execute('INSERT INTO tablepython VALUES(2,"Aadhar")');

In [46]:
cursor.execute('select * from tablepython')
cursor.fetchall()

[(1, 'Aditya'), (2, 'Aadhar')]