In [1]:
import pandas as pd

In [7]:
df=pd.read_csv('cardekho_dataset (1).csv')

In [8]:
df

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,19537,Hyundai i10,Hyundai,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000
15407,19540,Maruti Ertiga,Maruti,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
15408,19541,Skoda Rapid,Skoda,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5,425000
15409,19542,Mahindra XUV500,Mahindra,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
15410,19543,Honda City,Honda,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000

\
\
1.How many unique brands are there in the dataset, and which brand has the most listings?\
\
\
.

In [10]:
df.brand.nunique()

32

In [25]:
df1=df.groupby(['brand'])['brand'].count()
df1=df1.sort_values(ascending=False).head()
df1

brand
Maruti      4992
Hyundai     2982
Honda       1485
Mahindra    1011
Toyota       793
Name: brand, dtype: int64

*********************
Ans1: 32 unique brand , MARUTI most listing brand

*******************************************

\
\
2.What is the average selling price of vehicles by fuel type?
\
\
.

In [31]:
df.fuel_type.unique()

array(['Petrol', 'Diesel', 'CNG', 'LPG', 'Electric'], dtype=object)

In [46]:
df.groupby(['fuel_type'])['selling_price'].mean()

fuel_type
CNG         4.176877e+05
Diesel      1.000469e+06
Electric    1.853500e+06
LPG         2.062727e+05
Petrol      5.728619e+05
Name: selling_price, dtype: float64

In [73]:
df2=df.groupby(['fuel_type']).agg({'selling_price':['sum','count']})
df2=df2.selling_price
df2.rename(columns={'sum':'summation','count':'occurance'},inplace=True)
df2

            summation  occurance
fuel_type
CNG         125724000        301
Diesel     7422482000       7419
Electric      7414000          4
LPG           9076000         44
Petrol     4378383875       7643

In [75]:
df2.summation/df2.occurance

fuel_type
CNG         4.176877e+05
Diesel      1.000469e+06
Electric    1.853500e+06
LPG         2.062727e+05
Petrol      5.728619e+05
dtype: float64

In [76]:
125724000/301

417687.70764119603