In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\adity\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\adity\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\adity\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\adity\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\adity\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\adity\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [6]:
# Read the CSV file into a DataFrame
df = pd.read_csv("C:\Users\adity\Downloads\one_Sample_Dataset - Sample_Dataset.csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1056448128.py, line 2)

In [7]:
df

NameError: name 'df' is not defined

In [ ]:
# Specific value to remove
value_to_remove = "Product"

# Filter rows where column 'A' is not equal to value_to_remove
df_filtered = df[df['Product'] != value_to_remove]

In [ ]:
# Save the filtered DataFrame to a new CSV file
# Drop rows where all values are NaN (blank rows)
df_filtered = df_filtered.dropna(how='all')


df_filtered.to_csv('filtereddata.csv', index=False)

In [ ]:
df_filtered

In [ ]:
df=df_filtered.drop(columns=['date','time'])

In [ ]:
df['Order Date']=pd.to_datetime(df['Order Date'])
df['date']=df['Order Date'].dt.date
df['time'] = df['Order Date'].dt.time

In [ ]:
df

In [ ]:
# Convert the 'date' column to datetime type
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
df['day'] = df['date'].dt.day
df['month'] = df['date'].dt.month
df['year'] = df['date'].dt.year

# Convert the 'time' column to datetime type
df['time'] = pd.to_datetime(df['time'], format='%H:%M:%S')
df['hour']=df['time'].dt.hour
df

In [ ]:
print(len(df[(df['hour']>8) & (df['hour']<10 )]))

In [ ]:
df = df.sort_values(by='hour')
print(len(df[(df['hour']>8) & (df['hour']<10 )]))

In [ ]:
df.to_csv('filtereddata1.csv', index=False)

In [ ]:
weekend_count = df[df['date'].dt.weekday.isin([5, 6])].shape[0]
print(weekend_count)

In [ ]:
weekend_count = df[df['date'].dt.weekday.isin([0,1,2,3,4])].shape[0]
print(weekend_count)

In [ ]:
len(df)

In [ ]:
# Add a new column 'is_weekend' to indicate if the date is a weekend
df['is_weekend'] = df['date'].dt.weekday.isin([5, 6])
df

In [ ]:
df['Quantity Ordered'] = df['Quantity Ordered'].astype(int)
sum_value = df.loc[df['is_weekend'] ==True, 'Quantity Ordered'].sum()
print(sum_value)

In [ ]:
sum_value = df.loc[df['is_weekend'] ==False, 'Quantity Ordered'].sum()
print(sum_value)

In [5]:
df['Quantity Ordered'].sum()

NameError: name 'df' is not defined